.addToDoContainer {
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 3px solid #ccc;
  border-radius: 10px;
  gap: 3rem;
  font-family: "Roboto", sans-serif;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  &:hover {
    border-color: #9e9e9e;
    background-color: #fcfcfc;
    transition: 100ms;
  }

  .addToDoTitle {
    font-size: 1.5rem;
    font-style: medium;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #333;
  }

  .buttonAdd {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;

    .buttonAddIcon:active {
      transform: scale(0.86);
      transition: 100ms;
      box-shadow: none;
    }
  }
}
