@font-face {
  font-family: "Indie Flower";
  font-weight: 600;
  src: url("/font/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  src: url("/font/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src: url("/font/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

.appContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-weight: 800;

  @media (max-width: 700px) {
    padding: 1rem;
    max-width: 100%;
  }

  @media (min-width: 1200px) {
    // Extra large screens
    padding: 2rem 3rem;
    max-width: 1200px;
  }
}

.toDoSettings {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: transform 100ms;
  &:hover {
    transform: scale(1.1);
    color: #2b2b2b;
    transition: transform 100ms;
  }

  @media (max-width: 500px) {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.appHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Indie Flower", sans-serif;

  .appTitle {
    font-size: 4rem;
    padding: 1rem 0;
    color: #333;
    font-weight: 800;

    @media (max-width: 500px) {
      font-size: 3rem;
    }
  }

  .restartAnimation {
    display: flex;
    font-size: 50px;
    height: 20px;
  }
}

.appMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.5rem;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: #333;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  ul {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkbox {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2b2b2b;
  }
}
