.todoItem {
  padding: 2rem 1.5rem 2.3rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #bebebe;
  border-radius: 10px;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  position: relative;

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
  }

  @media (max-width: 550px) {
    padding-bottom: 1rem;
  }

  .todoActions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media (max-width: 550px) {
      width: 100%;
      gap: 1.5rem;
      align-items: flex-start;
    }
  }

  .createdAt {
    position: absolute;
    font-size: 0.8rem;
    color: #666;
    width: 250px;
    left: 24px;
    bottom: 5px;
    text-align: left;

    @media (max-width: 550px) {
      // bottom: 22px;
      text-align: center;
      width: 100%;
      left: unset;
      bottom: unset;
      position: static;
    }
  }

  .deadline {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    width: 250px;
    right: 15px;
    bottom: 5px;
    text-align: right;

    @media (max-width: 550px) {
      // left: 24px;
      // bottom: 5px;
      text-align: center;
      width: 100%;
      left: unset;
      bottom: unset;
      position: static;
    }
  }

  .iconButton {
    display: flex;
    padding: 0;
    align-items: flex-end;
    justify-content: flex-end;
    background: none;
    border: none;
    cursor: pointer;
  }

  .tooltipContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .completed {
    text-decoration: line-through;
    color: #999;
  }

  .todoTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    word-break: break-word;
  }

  .titleText {
    font-weight: 800;
  }

  .todoText {
    font-size: 1rem;
    margin: 0;
    word-break: break-word;
  }
}

.low {
  background-color: #93ff9838;
}
.medium {
  background-color: #ffc97854;
}
.high {
  background-color: #ff7c733a;
}

.priority {
  position: absolute;
  top: 3px;
  right: 10px;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  // color: #fff;
}

.completedTodo {
  background-color: #fcfcfc;
}

.overdue {
  color: #e07e7e;
}
